@import "../../../config-scss/variables.scss";
@import "../../../config-scss/rem-calc.scss";


:host {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  .pokemon {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    width: 42%;
    height: rem-calc(140);
    margin: rem-calc(10) 0;
    padding: rem-calc(20);
    border-radius: rem-calc(10);
  }

  .pokemon__info {
    width: 100%;

    h2 {
      font-size: rem-calc(22);
      font-weight: 900;
      padding: 0 0 rem-calc(10) 0;
    }

    ul>li {
      text-align: center;
      font-size: rem-calc(10);
      padding: rem-calc(5);
      margin: rem-calc(6) 0;
      border-radius: rem-calc(32);
      background-color: var(--cinza);
      width: 50%;
    }

  }

  .pokemon__img {
    background: url(../../../assets/background/background-list-pokemon.svg) no-repeat center;
    background-size: contain;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-items: stretch;

    img {
      width: 100%;
    }
  }
}
