<a class="pokemon">
  <div class="pokemon__info">
    <h2>Bulbasaur</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </div>
  <div class="pokemon__img">
    <img src="../../../assets/image.png" alt="Bulbasaur" />
  </div>
</a>
<a class="pokemon">
  <div class="pokemon__info">
    <h2>Bulbasaur</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </div>
  <div class="pokemon__img">
    <img src="../../../assets/image.png" alt="Bulbasaur" />
  </div>
</a>
<a class="pokemon">
  <div class="pokemon__info">
    <h2>Bulbasaur</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </div>
  <div class="pokemon__img">
    <img src="../../../assets/image.png" alt="Bulbasaur" />
  </div>
</a>
<a class="pokemon">
  <div class="pokemon__info">
    <h2>Bulbasaur</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </div>
  <div class="pokemon__img">
    <img src="../../../assets/image.png" alt="Bulbasaur" />
  </div>
</a>
